.seccion1{
    display: flex;
    height: 90%;
}

.seccion1 .fondo1{
    height: 101%;
}

.columna{
    width: 50%;
}
.columna h3{
    font-family: Century Gothic;
}

.fondo1, .fondo2{
    width: 100%;
}

.columna header{
    color: #FEFBFB;
    background-color: #436AA1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 10%;
}

.tipoServicio{
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 60%;
}

.img-servicios{
    background-color: #84B9FF;
    border-radius: 50%;
    width: 40%;
    margin: 20px;
}

.servicios{
    height: 50%;
}

.servicios2{
    height: 33%;
}

.servicios-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.columna-lavado{
    width: 50%;
    display: flex;
    align-items: center;
}