.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
}

.animal-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.animal-img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
}

.animal-card p {
  margin: 10px 0;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #e0f7fa;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.modal-content h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  background-color: #f4f0c9;
  padding: 10px;
  border-radius: 10px;
}

.modal-content p {
  text-align: left;
  margin-bottom: 15px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal .close {
  display: none;
}
