<!DOCTYPE html>
<html lang="en" layout:decorate="_layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Karelife</title>
    <link rel="stylesheet" href="/css/estilo-index.css" id="estilo-navegacion" />
    <link rel="stylesheet" href="/css/estilo-header.css" />
</head>

<body>
    <div layout:fragment="contenido" id="app">
        <div class="tituloP">
            <h2 class="titulo">SERVICIOS QUE OFRECEMOS:</h2>
        </div>
        <div class="slider-box">
            <ul>
                <li>
                    <img src="/img/index/atencion.png" alt="">
                </li>
                <li>
                    <img src="/img/index/1lavadomascota.png" alt="" />
                    <div class="texto">
                        <h2>LAVADO DE MASCOTA</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/2hospitalizacionmascota.png" alt="" />
                    <div class="texto">
                        <h2>HOSPITALIZACIÓN PARA LA MASCOTA</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/3cirugiamascota.png" alt="" />
                    <div class="texto">
                        <h2>CIRUGÍA DE MASCOTA</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/4traumatologiamascota.png" alt="" />
                    <div class="texto">
                        <h2> TRAUMATOLOGÍA</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/5neurologiamascota.png" alt="" />
                    <div class="texto">
                        <h2> NEUROLOGÍA</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/6oftanmologiamascota.png" alt="" />
                    <div class="texto">
                        <h2> OFTALMOLOGÍA</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/7dermatologiamascota.png" alt="" />
                    <div class="texto">
                        <h2> DERMATOLOGÍA</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/9odontologiamascota.png" alt="" />
                    <div class="texto">
                        <h2> ODONTOLOGÍA</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/10laboratoriomascota.png" alt="" />
                    <div class="texto">
                        <h2> LABORATORIO</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/11radiologiamascota.png" alt="" />
                    <div class="texto">
                        <h2> RADIOLOGÍA</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/12endoscopiamascota.png" alt="" />
                    <div class="texto">
                        <h2> ENDOSCOPÍA</h2>
                    </div>
                </li>
                <li>
                    <img src="/img/index/13presionmascota.png" alt="" />
                    <div class="texto">
                        <h2> MEDICION DE PRESIÓN ARTERIAL </h2>
                    </div>
                </li>
            </ul>
        </div>

        <div class="tituloP2">
            <h2 class="titulo2">MANUAL DISPONIBLE DE LOS SIGUIENTES ANIMALES:</h2>
        </div>

        <div class="slider-box2">
            <ul>
                <li>
                    <div class="image-container">
                        <img src="/img/manual/caballo.png" alt="">
                    </div>
                    <div class="texto2">
                        <h2>CABALLO</h2>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img src="/img/manual/conejo.png" alt="">
                    </div>
                    <div class="texto2">
                        <h2>CONEJO</h2>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img src="/img/manual/erizo.png" alt="">
                    </div>
                    <div class="texto2">
                        <h2>ERIZO</h2>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img src="/img/manual/gato.png" alt="">
                    </div>
                    <div class="texto2">
                        <h2>GATO</h2>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img src="/img/manual/perro.png" alt="">
                    </div>
                    <div class="texto2">
                        <h2> PERRO</h2>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img src="/img/manual/hamster.png" alt="">
                    </div>
                    <div class="texto2">
                        <h2> HAMSTER</h2>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img src="/img/manual/lagartija.png" alt="">
                    </div>
                    <div class="texto2">
                        <h2> LAGARTIJA</h2>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img src="/img/manual/loro.png" alt="">
                    </div>
                    <div class="texto2">
                        <h2> LORO </h2>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img src="/img/manual/pez.png" alt="">
                    </div>
                    <div class="texto2">
                        <h2>PEZ</h2>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <img src="/img/manual/tortuga.png" alt="">
                    </div>
                    <div class="texto2">
                        <h2>TORTUGA</h2>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>