<!DOCTYPE html>
<html lang="es" layout:decorate="_layout">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Nosotros</title>
	<link rel="stylesheet" href="/css/estilo-nosotros.css" />
</head>

<body>
	<div layout:fragment="contenido" id="app">
		<div class="fondo-imagen-1">
			<img src="/img/nosotros/nFondo.png" alt="100%" class="imagen-1" />
			<div class="superposicion">
				<h1>NOSOTROS</h1>
				<p>
					Clínica Veterinaria Karelife inició sus actividades con el objetivo
					de transformar el cuidado de las mascotas a través de una atención
					médica integral e innovadora. Desde su apertura, Karelife se ha
					destacado por implementar técnicas avanzadas y ofrecer servicios de
					alta calidad que han establecido un nuevo estándar en el ámbito
					veterinario...
				</p>
			</div>
		</div>

		<section>
			<div class="fondo-imagen-2">
				<img src="/img/nosotros/Dr1.jpg" class="imagen-2" />
				<div class="superposicion2">
					<h1>DR. ALEJANDRO RIVAS SOTO</h1>
					<p>
						Con más de 10 años de experiencia en el campo de la medicina
						veterinaria, el Dr. Alejandro Rivas Soto es un experto en el
						cuidado de animales de compañía...
					</p>
				</div>
			</div>

			<div class="fondo-imagen-3">
				<img src="/img/nosotros/Dr2.jpg" class="imagen-3" />
				<div class="superposicion3">
					<h1>DRA. SOFIA MARTINEZ FERNANDEZ</h1>
					<p>
						Con una trayectoria de más de 12 años en el ámbito veterinario, la
						Dra. Sofía Martínez Fernández es una profesional destacada en el
						cuidado y tratamiento de animales de compañía...
					</p>
				</div>
			</div>
		</section>

		<section>
			<div class="barra-inferior">
				<h1 class="titulo">NUESTRO EQUIPO</h1>
			</div>
			<div class="fondo-imagen-5">
				<div class="izq">
					<img src="/img/nosotros/Dr3.jpg" class="imagen-5" />
					<div class="superposicion4">
						<h1>Dr. Mateo Gómez</h1>
						<p>
							Veterinario con especialización en cirugía de pequeñas especies.
							Con 8 años de experiencia...
						</p>
					</div>
				</div>
				<div class="der">
					<img src="/img/nosotros/Dr4.jpg" class="imagen-6" />
					<div class="superposicion5">
						<h1>Dra. Valentina Ruiz</h1>
						<p>
							Especialista en medicina interna y cuidados preventivos para
							mascotas...
						</p>
					</div>
				</div>
			</div>

			<div class="fondo-imagen-6">
				<div class="izq">
					<img src="/img/nosotros/Dr5.jpg" class="imagen-7" />
					<div class="superposicion6">
						<h1>Dra. Camila Fernández</h1>
						<p>
							Veterinaria con experiencia en dermatología y enfermedades
							crónicas...
						</p>
					</div>
				</div>
				<div class="der">
					<img src="/img/nosotros/Dr6.jpg" class="imagen-8" />
					<div class="superposicion7">
						<h1>Dra. Isabela Martínez</h1>
						<p>
							Experta en oncología veterinaria, con 9 años de experiencia en
							el diagnóstico y tratamiento de cáncer en mascotas...
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>

</html>